<h2>Customers for Flight {{ flight_number }}</h2>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.first_name }}</td>
                <td>{{ customer.last_name }}</td>
                <td>{{ customer.email_address }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/view_flights">Back to Flights</a>
